/*全局属性*/
* {
  margin: 0;
  padding: 0;
}
body,
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #6ba2f4;
}
@media only screen and (max-width: 755px) {
  /* 视窗设置不见 */
  .phone-none {
    display: none !important;
  }
  .cagPwdPanel {
    width: 90vw !important;
  }
  .el-dialog__body {
    padding: 5px 20px !important;
  }
  .el-form-item {
    margin-bottom: 30px !important;
  }
  .el-dialog__footer {
    padding: 10px 20px !important;
  }
}
/*  手机设置不见 */
@media only screen and (min-width: 755px) {
  .window-none {
    display: none !important;
    flex: node;
  }
}
